@use '../scss/custom' as *;
@use '../Components/mixins' as *;

.btn-rounded {


    @include media-breakpoint-down(sm){
        display: none;
    }

    background-color: $white;
    position: relative;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    padding-left : 0.90rem;
    padding-right: 4rem;
    font-weight: 600;
    font-size:medium;
    border: 0.1rem solid rgba($white , 0.6);
    margin: 0;
    
    
    
    
    span{
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top : 50%;
        right : 5px;
        transform : translateY(-50%);
        border-radius: 50%;
    
        
        svg{
            transform : translateY(30%);
            color : $white;
            
        }
    }
    
    &:hover{
        @include gradient;
        color :$white;
        span{
            background-color: rgba($black , 0.6);
        }
    }
}


.border-black-round{
    border : 1px solid black
}


