@use '../scss/custom' as *;
@use '../Components/mixins.scss' as *;

.getstarted{
    padding-top : 1rem;
    background-color: rgba($gray-300, 0.5);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    padding-top : 5rem;
    @include media-breakpoint-down(lg){
        border-radius: 0;
        
    }
}

.contentboxes{
    

    &--description{
        @include gradient;
        padding:  6rem 2rem 4rem 2rem;
        
        
        @include media-breakpoint-down(md){
            padding:  6rem 4rem 4rem 4rem;
            border-radius: 10%;    
        }
        
        .contact-us-title{
            font-family: "Poppins",sans-serif;
            margin-right: 1;
        }
        .contact-us-des{
            font-family: Georgia, 'Times New Roman', Times, serif;
            @include media-breakpoint-down(sm){
                font-size: small;
            }
        }
        .contact-us-next-step{
           
            font-weight: 600;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        li { list-style:none;
            padding: 0.5rem;
            @include media-breakpoint-down(sm){
                font-size: smaller;
            }
            svg{
                margin-right: 0.8rem;
                @include media-breakpoint-down(sm){
                    width : 0.5rem !important;
                    height: 0.5rem !important;
                }
            }
            span{
               color : white;
            }
        } 
       
    }    
}
.contentboxes--form{
    @include media-breakpoint-down(sm){
        margin-top: 3rem;
        box-shadow: 1px 2px rgba(#888888,0.34);
    } 
    
}
.inputboxes{
    width: 100%;
    @include media-breakpoint-up(lg){
        // width: 50%;
               

    }
    
}

.focus-transtion:hover{
    border : 2px solid rgba($primary , 0.9);
}


.padding-container{
    padding: 1rem;

    
}

