@use '../scss/custom' as *;
@use '../Components/mixins' as *;
@use '../Components/animations' as *;
.testimonials {
    @include gradient;
    
    hr{
        width: 50%;
    }
    .line{
        width: 10%;
        min-height: 1px;
        background-color: $white;
        margin-bottom: 1rem;

    }
    &--subtitle{
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
    }
}


.custom-card{
    background-color: rgba($purple-light , 0.3);
    width: 70%;
    border-radius: 5%;
    margin-top: 5rem;
    @include media-breakpoint-down(md){
        width: 90%;
    }
    &:hover{
        opacity: 0.7;
        font-weight: bold;
    }

    &--desc{
        font-size: medium;
    }


}
.icons-quote{
    color : $primary;
    
}
.bottom-card{

    &--photo{
        width : 6rem;
        height: 6rem;
        
        transform: translateY(-50%);
        border : 2px solid rgba($primary, 0.5);
        margin : 0;
        padding: 0;
        
        
        
    }
    &--name{
        position: relative;
        top : -3rem;
        font-family: "Poppins" , sans-serif;
    }
    &--role{
        
        position: relative;
        font-size: small;
        top : -3rem;
    }
}